body {
    background-color: lightgreen !important;
}

h3 {
    padding: 30px;
    text-align: center;
}

.div-btn {
    width: 300px;
    margin: 20px auto;
}

.btn-pck {
    width: 100%;
    padding: 10px;
}

.card-pck {
    position: relative;
    height: fit-content;
    font-family: Arial;
    max-width: 400px;
    border-radius: 20px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.card-pck::before {
    content: '';
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.pck-img {
    width: 180px;
    border-radius: 50%;
}

.pck-name {
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 1px dashed black;
}

.pck-type div {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: 1px dashed black;
}

.pck_stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}